.our-projects {
	padding-bottom: 230px;
	&__row {
		display: flex !important;
		position: relative;
	}
	&__column {
		padding-bottom: 60px;
	}
	&__item {
		background-color: $color-section;
	}
	&__info {
		padding: 30px;
	}
	&__title {
		@include font(40px, 300);
		color: $color-gray;
		line-height: 1.25;
	}
	&__description {
		@include font(16px, 300);
		max-width: 400px;
		color: $color-black;
		margin: 20px 0 64px;
		line-height: 1.5;
	}
	&__link {
		@include font(12px, 300, 1, uppercase);
		background-color: $color-white;
		color: $color-black;
		padding: 30px 60px;
		svg {
			margin-left: 12px;
		}
	}
	&__counter {
		@include font(24px, 400, 0.2em);
		position: absolute;
		left: 0;
		bottom: 0;
		color: $color-gray;
		opacity: 0;
		transition-delay: 0.4s;
		transition-duration: 0.4s;
		span:nth-child(2) {
			position: relative;
			margin: 0 20px 0;
			svg {
				position: absolute;
				top: 0;
				left: -40px;
			}
		}
		span:first-child {
			color: $color-black;
			margin-right: 30px;
		}
	}
	.slick-next.slick-arrow,
	.slick-prev.slick-arrow {
		position: absolute;
		bottom: -10px;
		font-size: 0;
		width: 50px;
		height: 50px;
		background-color: $color-white;
		outline: none;
		border: 1px solid $color-gray;
		z-index: 1;
		&::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 17px;
			height: 8px;
			background: url("../images/arrow.svg");
		}
		&:hover {
			cursor: pointer;
		}
	}
	.slick-prev.slick-arrow {
		left: 168px;
	}
	.slick-next.slick-arrow {
		left: 238px;
		&::before {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}

	.row.our-projects__row.slick-slide.slick-current.slick-active &__counter {
		opacity: 1;
	}
}
